.bst{
    font-size: 50px;
    color: rgb(212, 110, 9);
    margin-top: 28px;
    margin-left: 280px;
    
}
/*-----------------------------------------------------*/
    .nx{
        font-size: 50px;
        margin-top: 8px;
        color: #09b17e;
        text-decoration: none;
    }

/*-----------------------------------------------------*/

#War {
 margin-top: 25px;
 height: 30px;
 width: 100%;
 color: red; /* Yazı rengi kırmızı olacak */
 animation: blink 2s ease-in-out infinite; /* blink adlı animasyonu uygula */
}
          
     @keyframes blink {
      0% {
        opacity: 1; /* Başlangıçta yazı tamamen görünür olacak */
     }
     50% {
       opacity: 0; /* Orta noktada yazı tamamen kaybolacak */
     }
     100% {
       opacity: 1; /* Sonunda yazı tekrar görünür olacak */
    }
    }

.Wart{
    font-size: 30px;
    margin-left: 180px;
}
#calculator {
    width: 150px;
    height: 130px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
  }
  
/*-----------------------------------------------------*/
.D1{

    height: 32%;
    width: 75%;
    margin-left: 190px;
    margin-top: -210px;

}
.D2{
    height: 32%;
    width: 75%;
    margin-left: 190px;
}
/*-----------------------------------------------------*/
.DX1{
    height: 15%;
    width: 65%;
    margin-left: 220px; 
}
/*-----------------------------------------------------*/
.im1{
    height: 54px;
    width: 54px;
    margin-left: 40px;
    margin-top: 120px;

}
.im2{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;

}
.im3{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;

}
.im4{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;
}
.im5{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;

}
.im6{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;  

}
.im7{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;

}
.im8{
    height: 54px;
    width: 54px;
    margin-left: 60px;
    margin-top: 120px;

}
/*-----------------------------------------------------*/
.CP1{
    height: 44px;
    width: 44px;
    margin-left: 40px;
}
.CP2{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP3{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP4{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP5{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP6{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP7{
    height: 44px;
    width: 44px;
    margin-left: 70px;
}
.CP8{
    height: 44px;
    width: 44px;
    margin-left: 70px; 
}
/*-----------------------------------------------------*/
.txt{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 65px;
}
.txt2{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 105px;
}
.txt3{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 115px; 
}
.txt4{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 110px;
}
.txt5{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 105px; 
}
.txt6{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 110px;  
}
/*-----------------------------*/
.txt7{
    font-size: 10px;
    color: rgb(212, 110, 9);
    margin-left: 170px;
}
.txt8{
    font-size: 10px;
    color: rgb(212, 110, 9);
    margin-left: 160px; 
}
/*-------------------------------*/

.txtT{

    font-size: 10px;
    color: rgb(212, 110, 9);
    margin-left: 1145px; 
    margin-top: 25px;

}
.txtx{
    font-size: 20px;
    color: rgb(212, 110, 9);
    margin-left: 50px; 
}
/*-----------------------------------------------------*/
.imz1{
    height: 54px;
    width: 54px;
    margin-left: 45px;
    margin-top: 80px;
}
.imz2{
    height: 54px;
    width: 54px;
    margin-left: 130px;
    margin-top: 80px;
}
.imz3{
    height: 54px;
    width: 54px;
    margin-left: 130px;
    margin-top: 80px;
}
.imz4{
    height: 54px;
    width: 54px;
    margin-left: 130px;
    margin-top: 80px;
}
.imz5{
    height: 54px;
    width: 54px;
    margin-left: 130px;
    margin-top: 80px;
}