.Div0{
    height: 100%;
    width: 100%;
}

.Div{
    height: 7%;
    width: 100%;
    margin-top: -7px;
    margin-left: -10px;
    opacity: 100%;
    position: fixed;
    border-radius: 20px;

}
.Div1{
    height: 100%;
    width: 75%;
    margin-left: 250px;
}
.Div2{
    height: 35%;
    width: 100%;
    
}
.Div3{
    height: 25%;
    width: 30%;
    background-color: rgb(98, 59, 0);
}
.Div4{
    height: 32%;
    width: 100%;
}
.Div5{
    height: 55%;
    width: 100%;
}
#calculator {
    width: 150px;
    height: 130px;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #War {
    margin-left: -90px;
    height: 30px;
    width: 100%;
    color: red; /* Yazı rengi kırmızı olacak */
    animation: blink 2s ease-in-out infinite; /* blink adlı animasyonu uygula */
   }
             
        @keyframes blink {
         0% {
           opacity: 1; /* Başlangıçta yazı tamamen görünür olacak */
        }
        50% {
          opacity: 0; /* Orta noktada yazı tamamen kaybolacak */
        }
        100% {
          opacity: 1; /* Sonunda yazı tekrar görünür olacak */
       }
       }
   
   .Wart{
       font-size: 30px;
       margin-left: 200px;
   }
/* ---------------------------------------------- */
.Text{

    color: #09b17e;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    height: 7%;
    width: 17%;
    font-size: 30px;
    text-decoration: none;

}
.Text2{
    font-size: 40px;
    margin-left: 400px;
    color: #09b17e;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.Text3{
    font-size: 40px;
    margin-left: 110px;
    color: #09b17e;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.Text4{
    font-size: 40px;
    margin-left: 50px;
    color: #09b17e;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* ---------------------------------------------- */
.Sli{
    height: 230px;
    width: 430px;
    margin-left: 35px;
    margin-top: 80px;
    border-radius: 55px;
}
/* ---------------------------------------------- */
.UPD{
    color: #da8e09;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 310px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20px;
}
.UPDT{
    color: #c49000;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 50px;
}
.UPDTT{
    color: #c49000;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 90px;
}
.UPDTTT{
    color: #c49000;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 130px;
}
.UPDTTTT{
    color: #c49000;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 165px;
}
/* ---------------------------------------------- */
.VUPDT{
    color: #da8e09;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    margin-left: 480px;
    font-size: 60px;
    text-decoration: none;
    
}
/* ---------------------------------------------- */
.H{
    margin-top: 80px;
}
/* ---------------------------------------------- */
.PG{
    height: 120PX;
    width: 120px;
    margin-left: 150px;
    margin-top: 90px;
}
.PG2{
    height: 120PX;
    width: 120px;
    margin-left: 200px;
    margin-top: 90px;
}
/* ---------------------------------------------- */
